.list_ingredients{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0 24px;
  list-style: none;
  padding: 0;
 
}

.ingredients_container{
  max-height: 83.5vh;
  overflow: auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
 
}

.ingredients_container::-webkit-scrollbar{
  width: 8px;
  background-color:  #2F2F37;
;
}

.ingredients_container::-webkit-scrollbar-thumb{
  background-color: #8585AD;
}

.content{
  margin: 0 auto;
  max-width: 600px;
}

.card{
  display: flex;
 flex-direction: column;
  position: relative;
  min-height: 208px;
}

.card_image{
  cursor: pointer;
} 

.card_price{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card_title{
  text-align: center;
}


.card_icon{
  display: inline-block;
  margin: auto;
}
