.header{
 
  background-color: #1c1c21;
}

.header__content{
  max-width: 1280px;
  margin: 0 auto;
   display: flex;
  justify-content: space-between;
}

.header__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F2F2F3;
  border-radius: 40px;
  transition: color .2s linear;
  justify-content: center;
}

.header__link:hover{
  cursor: pointer;
  color: #8585AD;  
}

.nav{
  flex: 0 1 33%;
}

.nav__list-item{
  display: flex;
  list-style: none;
  padding: 0;
}

.header__text{
  margin: 0;
}

.personal{
  composes:nav;
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo{
  composes:nav;
  margin: auto;
}

