.header {
  min-width: 1280px;
  background-color: #1c1c21;
}

.header__content {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  border-radius: 40px;
  transition: color 0.2s linear;
  justify-content: center;
}

.header__link:hover {
  cursor: pointer;
  color: #f2f2f3;
}

.header__link_active {
  color: #f2f2f3;
}

.nav {
  flex: 0 1 33%;
}

.nav__list-item {
  display: flex;
  list-style: none;
  padding: 0;
}

.header__text {
  margin-block-end: 0;
}

.personal {
  composes: nav;
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo {
  composes: nav;
  margin: auto;
}
