.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-self: flex-start;
}

.image {
  display: inline-block;
}

.list-ingredients {
  display: flex;
  width: 100%;
  flex: 1 1 25%;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 25%;
  white-space: nowrap;
  color: #8585ad;
}
