.section{
  max-width: 600px;
}

.listElements{
  list-style: none;
  padding-inline-start: 0;
  max-height: 45vh;
  overflow:auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.listElements::-webkit-scrollbar{
  width: 8px;
  background-color: #2F2F37;
}

.listElements::-webkit-scrollbar-thumb{
  background-color: #8585AD;
}

.listElements__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.oder{
  display: flex;
  justify-content: end;
  align-items: center;
}

.lockElement{
  composes:oder;
}